.modal{
    display: initial;
    padding-top: 10%;
    top:0;
    background: rgba(0, 0, 0, 0.3);
    .modal-dialog{
      max-width: none;
      width: 50vw;
      height: 50vw;
    }
  }
  .realisationContainer{
    margin: 2vw 0;
    h3{
      text-align: center;
    }
    .CreateRealisation{
      display: flex;
      justify-content: center;
    //   grid-template-columns: 1fr 1fr; 
      margin: 0 5vw;
      h3{
        grid-column: 2;
        grid-row: 1;
        width: 100%;
      }
      
      .RealisationForm{
        margin: auto;
        width:35vw;
        .btn{
          margin: 1vw auto;
        }
        .IconeSelected{
          margin-top: 1vw;
        }
      }
    }
    .RealisationList{
  
      h3{
        margin: 3vw 0;
      }
    }
  }