@import '../../Variables.scss'; 
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$animation-size: 7vw;

body{
  overflow-x: hidden;
}

.containerAnim{
  justify-items: center;  
  scroll-margin-top: 100vh;



  .Text1 { 
    text-align: center;
    height: 35vw;
    background-color: rgb(247, 150, 70);
    display: inline-flex;
    font-size: 2vw;
    font-family: $open;
    color:white;
    width: 100vw;
    position:absolute;
    top:0;
    display: flex;
    justify-content: center;

    .logo {
      padding: 2em 5em;
      align-self: center;


    }

    .logo h1 {
      float: left;
      overflow: hidden;
      position: relative;
      height: $animation-size;
      font-size: 6vw;

    }

    .logo b {
      float: left;
      overflow: hidden;
      position: relative;
      height: $animation-size;
      font-size: 6vw;
      top: 40px;
    }

    .logo .logo-secondpart {
      display: inline-block;
      color: white;
      position: relative;
      white-space: nowrap;
      top: 0;
      left: 0;
      text-align: left;
      padding-left: 12px;
  


      /*animation*/


      -webkit-animation:move 3.5s;
      -moz-animation:move 3.5s;
      -ms-animation:move 3.5s;
      -o-animation:move 3.5s;
      animation:move 3.5s;
      /*animation-iteration-count*/
      -webkit-animation-iteration-count:infinite;
      -moz-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
      -o-animation-iteration-count:infinite;
      animation-iteration-count:infinite;
      /*animation-delay*/
      -webkit-animation-delay:2s;
      -ms-animation-delay:2s;
      -o-animation-delay:2s;
      animation-delay:2s;
    }


    @-webkit-keyframes move {
      0%  { top: 0vw; }
      40% { top: -$animation-size; }
      80% { top: -$animation-size * 2; }
    }
    @-moz-keyframes move {
      0%  { top: 0vw; }
      40% { top: -$animation-size; }
      80% { top: -$animation-size * 2; }
    }
    @-o-keyframes move {
      0%  { top: 0vw; }
      40% { top: -$animation-size; }
      80% { top: -$animation-size * 2; }
    }
    @keyframes move {
      0%  { top: 0vw; }
      40% { top: -$animation-size; }
      80% { top: -$animation-size * 2; }
    }


    .logo .logo-firstpart {
      display: inline-block;
      color: black;
      position: relative;
      white-space: nowrap;
      top: 0;
      left: 0;
      text-align: right;


      /*animation*/
      -webkit-animation:move2 3.5s;
      -ms-animation:move2 3.5s;
      -o-animation:move2 3.5s;
      animation:move2 3.5s;
      /*animation-iteration-count*/
      -webkit-animation-iteration-count:infinite;
      -moz-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
      -o-animation-iteration-count:infinite;
      animation-iteration-count:infinite;
      /*animation-delay*/
      -webkit-animation-delay:2s;
      -ms-animation-delay:2s;
      -o-animation-delay:2s;
      animation-delay:2s;
    }
    @-webkit-keyframes move2 {
      0%  { top: -$animation-size * 2; }
      40% { top: -$animation-size; }
      80% { top: -0vw; }
      100% { top: -$animation-size * 2; }
    }
    @-moz-keyframes move2 {
      0%  { top: -$animation-size * 2; }
      40% { top: -$animation-size; }
      80% { top: -0vw; }
      100% { top: -$animation-size * 2; }
    }
    @-o-keyframes move2 {
      0%  { top: -$animation-size * 2; }
      40% { top: -$animation-size; }
      80% { top: -0vw; }
      100% { top: -$animation-size * 2; }
    }
    @keyframes move2 {
      0%  { top: -$animation-size * 2; }
      40% { top: -$animation-size; }
      80% { top: -0vw; }
      100% { top: -$animation-size * 2; }
    }
  }
}








  .secondContainer{
    
    margin-top: 38vw;
    height:auto;
  }
    .Text2 { 
      text-align: center;
      height: 6vw;
      bottom: 1vw;
      margin-left: 15vw;
      margin-right: 15vw;
      font-size: 1.5vw;
      p{
        font-family: $condensed;      
      }
    }
    .btn{
      margin: auto;
      display: flex;
    }
    .Bouton { 
      text-align: center;
      background-color: rgb(247, 150, 70);
      border-radius: 90px;
      font-size: 1.5vw;
      font-family: $open;
      color: white;
      bottom: 2vw;    
      padding: 1vw 5vw;
    font-size: 1.15vw;
    a{
      color: white;
      text-decoration: none;
    }
     
    }
    

    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes mymove 
    {
        0%   {bottom: 0vw;opacity:1}
        10%  {bottom: 7vw;visibility:visible;}
        46% {bottom: 1vw;opacity:1;}
        51%{bottom:25vw;opacity:0.2;}
        100%{bottom:25vw;opacity:0;}
    }
    
    /* Standard syntax */
    @keyframes mymove 
    {

      0%   {bottom: 0vw;opacity:1}
      10%  {bottom: 7vw;visibility:visible;}
      46% {bottom: 15vw;opacity:1;}
      51%{bottom:25vw;opacity:0.2;}
      100%{bottom:25vw;opacity:0;}
    }
    
    @-webkit-keyframes mymove2 
    {
      
      0%   {bottom: 0vw;opacity:1}
        10%  {bottom: 7vw;visibility:visible;}
        46% {bottom: 15vw;opacity:1;}
        51%{bottom:25vw;opacity:0.2;}
        100%{bottom:25vw;opacity:0;}
  }
    /* Standard syntax */
    @keyframes mymove2 
    {
      
      0%   {bottom: 0vw;opacity:1}
        10%  {bottom: 7vw;visibility:visible;}
        46% {bottom: 15vw;opacity:1;}
        51%{bottom:25vw;opacity:0.2;}
        100%{bottom:25vw;opacity:0;}
  }
    @-webkit-keyframes mymove3 
    {
      0%   {bottom: 0vw;opacity:1}
        10%  {bottom: 7vw;visibility:visible;}
        46% {bottom: 15vw;opacity:1;}
        51%{bottom:25vw;opacity:0.2;}
        100%{bottom:25vw;opacity:0;}
  }
    
    /* Standard syntax */
    @keyframes mymove3 
    {
      0%   {bottom: 0vw;opacity:1}
      10%  {bottom: 7vw;visibility:visible;}
      46% {bottom: 15vw;opacity:1;}
      51%{bottom:25vw;opacity:0.2;}
      100%{bottom:25vw;opacity:0;}
  }
        
     

  
/*telport*/
@media screen and (max-width: 425px) {
  .secondContainer{
    
    margin-top: 38vw;
    height:auto;
  }
    .Text2 { 
      text-align: center;
      height: 6vw;
      bottom: 1vw;
      margin-left: 15vw;
      margin-right: 15vw;
      font-size: 4vw;
      position: absolute;
      top: 39vw;
      p{
        font-family: $condensed;      
      }
    }
    
  body{
    overflow-x: hidden;
  }







  

  .containerAnim{
    justify-items: center;



    .Text1 {
      text-align: center;
      height: 35vw;
      background-color: rgb(247, 150, 70);
      display: inline-flex;
      font-size: 2vw;
      font-family: $open;
      color:white;
      width: 100vw;
      position:absolute;
      top:0;
      display: flex;
      justify-content: center;

      .logo {
        padding: 2em 5em;
        align-self: center;


      }

      .logo h1 {
        float: left;
        overflow: hidden;
        position: relative;
        height: $animation-size;
        font-size: 9vw;

      }

      .logo b {
        float: left;
        overflow: hidden;
        position: relative;
        height: $animation-size;
        font-size: 9vw;
        top: 40px;
      }

      .logo .logo-secondpart {
        display: inline-block;
        color: white;
        position: relative;
        white-space: nowrap;
        top: 0;
        left: 0;


        /*animation*/


        -webkit-animation:move 3.5s;
        -moz-animation:move 3.5s;
        -ms-animation:move 3.5s;
        -o-animation:move 3.5s;
        animation:move 3.5s;
        /*animation-iteration-count*/
        -webkit-animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
        -ms-animation-iteration-count:infinite;
        -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
        /*animation-delay*/
        -webkit-animation-delay:2s;
        -ms-animation-delay:2s;
        -o-animation-delay:2s;
        animation-delay:2s;
      }


      @-webkit-keyframes move {
        0%  { top: 0vw; }
        40% { top: -$animation-size; }
        80% { top: -$animation-size * 2; }
      }
      @-moz-keyframes move {
        0%  { top: 0vw; }
        40% { top: -$animation-size; }
        80% { top: -$animation-size * 2; }
      }
      @-o-keyframes move {
        0%  { top: 0vw; }
        40% { top: -$animation-size; }
        80% { top: -$animation-size * 2; }
      }
      @keyframes move {
        0%  { top: 0vw; }
        40% { top: -$animation-size; }
        80% { top: -$animation-size * 2; }
      }


      .logo .logo-firstpart {
        display: inline-block;
        color: black;
        position: relative;
        white-space: nowrap;
        top: 0;
        left: 0;


        /*animation*/
        -webkit-animation:move2 3.5s;
        -ms-animation:move2 3.5s;
        -o-animation:move2 3.5s;
        animation:move2 3.5s;
        /*animation-iteration-count*/
        -webkit-animation-iteration-count:infinite;
        -moz-animation-iteration-count:infinite;
        -ms-animation-iteration-count:infinite;
        -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
        /*animation-delay*/
        -webkit-animation-delay:2s;
        -ms-animation-delay:2s;
        -o-animation-delay:2s;
        animation-delay:2s;
      }
      @-webkit-keyframes move2 {
        0%  { top: -$animation-size * 2; }
        40% { top: -$animation-size; }
        80% { top: -0vw; }
        100% { top: -$animation-size * 2; }
      }
      @-moz-keyframes move2 {
        0%  { top: -$animation-size * 2; }
        40% { top: -$animation-size; }
        80% { top: -0vw; }
        100% { top: -$animation-size * 2; }
      }
      @-o-keyframes move2 {
        0%  { top: -$animation-size * 2; }
        40% { top: -$animation-size; }
        80% { top: -0vw; }
        100% { top: -$animation-size * 2; }
      }
      @keyframes move2 {
        0%  { top: -$animation-size * 2; }
        40% { top: -$animation-size; }
        80% { top: -0vw; }
        100% { top: -$animation-size * 2; }
      }
    }
  }

  .Bouton {
    text-align: center;
    background-color: #f79646;
    padding: 2vw 5vw;
    border-radius: 90px;
    font-size: 4vw;
    font-family: $open;
    color: white;
    width: 50%;
    bottom: inherit;
    line-height: 6vw;
    margin-left: 25vw;
    position: absolute;
    margin-top: 0vw;

    a{
      color: white;
      text-decoration: none;
    }
}


}