@import '../../Variables.scss'; 
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.Container {
display: grid;
grid-template-columns: 0.6fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-template-areas: "Text1 ." "Text2 ." "boutton .";
grid-area: Container;
background-image: url(../../pictures/Nenette.jpg);
height:100vh;
background-size: cover;


.opacity{
    background-color:  rgba(247,150,70,0.7);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;


.Text1 { 
    grid-area: Text1; 
    
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 4vw;
    color:white;
    margin-left: 3vw;
    padding-right: 3vw;
    
}


.Text2 { 
    grid-area: Text2;
    
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 1.3vw;
}


.boutton { 
    grid-area: Text3;
    width: 55%;
    line-height: 5vw;
    color: white;
    background-color:  rgb(247, 150, 70);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-left: 8vw;
    margin-right: 8vw;
    border-radius:50px;
    line-height: 4vw;
}
        }
    }

@media (max-width: 600px) {
        .Container {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-template-areas: "Text1 ." "Text2 ." "boutton .";
grid-area: Container;
background-image: url(../../pictures/Nenette.jpg);
height:100vh;
background-size: cover;
background-position: right;
}

.Text1 { 
    grid-area: Text1; 
    
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 10vw !important;
    color:white;
    margin-left: 7vw !important;
    margin-right: 7vw !important;
}

.Text2 { 
    grid-area: Text2;
    
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-left: 11vw !important;
    margin-right: 11vw !important;
    font-size: 4vw !important;
    position: absolute;
    bottom: -30%;
}


.boutton { 
    grid-area: Text3;
    width: 55%;
    line-height: 5vw;
    color: white;
    background-color:  rgb(247, 150, 70);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-left: 20vw !important;
    border-radius:50px;
    line-height: 11vw !important;
    position: absolute;
    bottom: -50%;
}
}





