@import '../../Variables.scss'; 
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body{
  overflow-x: hidden;
}

.containerAnim{
  justify-items: center;  



  .Text1 { 
    text-align: center;
    height: 35vw;
    background-color: rgb(247, 150, 70);
    display: inline-flex;
    font-size: 2vw;
    font-family: $open;
    color:white;
    width: 100vw;
    position:absolute;
    top:0;
    
    .first{
      
      // visibility:hidden;
      font-size:5vw;
        width: auto;
        height: auto;
        color:white;
        position: absolute;
        -webkit-animation: mymove 20s infinite; /* Safari 4.0 - 8.0 */
        animation: mymove 20s infinite;
        z-index:1;
        left: 33vw;
    }
    
    .second{
    
      visibility:hidden;
      font-size:5vw;
        width: auto;
        height: auto;
        color:white;
        left:0px;
        position: absolute;
        -webkit-animation: mymove2 20s infinite; /* Safari 4.0 - 8.0 */
        animation: mymove2 20s infinite;
        animation-delay: 5s;
        z-index:2;
        left: 33vw;
    }   
    
    .third{
    
    visibility:hidden;
      font-size:5vw;
        width: auto;
        height: auto;
        color:white;
        left:0px;
        position: absolute;
        -webkit-animation: mymove3 20s infinite; /* Safari 4.0 - 8.0 */
        animation: mymove3 20s infinite;
        animation-delay:10s;
        z-index:3;
        left: 33vw;
    }
  }
}
  .secondContainer{
    
    margin-top: 38vw;
    height:auto;
  }
    .Text2 { 
      text-align: center;
      height: 6vw;
      bottom: 1vw;
      margin-left: 15vw;
      margin-right: 15vw;
      font-size: 1.5vw;
      font-family: $condensed;      
    }
    .btn{
      margin: auto;
      display: flex;
    }
    .Bouton { 
      text-align: center;
      background-color: rgb(247, 150, 70);
      border-radius: 90px;
      font-size: 1.5vw;
      font-family: $open;
      color: white;
      bottom: 2vw;    
      padding: 1vw 5vw;
    font-size: 1.15vw;
     
    }
    

    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes mymove 
    {
        0%   {bottom: 0vw;opacity:1}
        10%  {bottom: 7vw;visibility:visible;}
        46% {bottom: 1vw;opacity:1;}
        51%{bottom:25vw;opacity:0.2;}
        100%{bottom:25vw;opacity:0;}
    }
    
    /* Standard syntax */
    @keyframes mymove 
    {
      
      0%   {bottom: 0vw;opacity:1}
      10%  {bottom: 7vw;visibility:visible;}
      46% {bottom: 15vw;opacity:1;}
      51%{bottom:25vw;opacity:0.2;}
      100%{bottom:25vw;opacity:0;}
    }
    
    @-webkit-keyframes mymove2 
    {
      
      0%   {bottom: 0vw;opacity:1}
        10%  {bottom: 7vw;visibility:visible;}
        46% {bottom: 15vw;opacity:1;}
        51%{bottom:25vw;opacity:0.2;}
        100%{bottom:25vw;opacity:0;}
  }
    /* Standard syntax */
    @keyframes mymove2 
    {
      
      0%   {bottom: 0vw;opacity:1}
        10%  {bottom: 7vw;visibility:visible;}
        46% {bottom: 15vw;opacity:1;}
        51%{bottom:25vw;opacity:0.2;}
        100%{bottom:25vw;opacity:0;}
  }
    @-webkit-keyframes mymove3 
    {
      0%   {bottom: 0vw;opacity:1}
        10%  {bottom: 7vw;visibility:visible;}
        46% {bottom: 15vw;opacity:1;}
        51%{bottom:25vw;opacity:0.2;}
        100%{bottom:25vw;opacity:0;}
  }
    
    /* Standard syntax */
    @keyframes mymove3 
    {
      0%   {bottom: 0vw;opacity:1}
      10%  {bottom: 7vw;visibility:visible;}
      46% {bottom: 15vw;opacity:1;}
      51%{bottom:25vw;opacity:0.2;}
      100%{bottom:25vw;opacity:0;}
  }
        
     

  
/*telport*/
@media screen and (max-width: 425px) {
  .containerAnim{
    .Text1{
      top: 25vw;
    }
    margin-bottom: 50vw;
  }

  .secondContainer{
    margin-top: 45vw;
  }
  
  .Text1 {
    text-align: center;
    height: 50vw;
    background-color: #f79646;
    display: inline-flex;
    font-size: 6vw;
    font-family: $open;
    color: white;
    width: 100vw;
    position: absolute;
    top: 0;
  }

  .Text2 {
    text-align: center;
    font-size: 6vw;
    margin-left: 11vw;
    margin-right: 11vw;
}
  .Bouton {
    text-align: center;
    background-color: #f79646;
    padding: 2vw 20vw;
    border-radius: 90px;
    font-size: 4vw;
    font-family: $open;
    color: white;
    width: 50%;
    bottom: inherit;
    line-height: 6vw;
    margin-left: 25vw;
    position: absolute;
    margin-top: 30vw;
}


}