// Taille des logos : 567px x 200px

///// IMPORT VARIABLES SCSS /////
@import '../../Variables.scss'; 

.Partenaires {
    
    .titrePartenaires {
        margin-bottom:3vw;
        font-size:3vw;
        color:$orange; 
        font-family:$open;  
        text-align: center;    
    }

    button {
        display:none;
    }
    
    .slick-initialized {
        width:100%;

        .LogosPartenaires {
            height:100%;
            width:100%;
        }
        img {
            width:25vw;
        }
    }
}

@media screen and(max-width:900px){
    .Partenaires {
        margin-bottom: 2vw;
  
      .titrePartenaires {
        font-size:3vw;
      }

      img {
          width:30vw!important;
      }
    }
}

@media screen and(max-width:425px){
    .Partenaires {
  
      .titrePartenaires {
        font-size:8vw;
      }

      img {
          width:30vw!important;
      }
    }
}