//// FONTS ////

$open: 'Open Sans', sans-serif;
$condensed: 'Open Sans', sans-serif;

///// FONT-SIZE ////
$title-section: 4vw;             /* <h1> */
$title-section-mobile: 8vw;      /* <h1> */
$sub-title: 2.2vw;               /* <h2> */
$sub-title-mobile: 4.5vw;        /* <h2> */
$title-nav: 2vw;                /* navbar text */
$title-nav-mobile: 6vw;         /* navbar text */
$important-text: 2vw;             /* h3 */
$important-text-mobile: 3.5vw;    /* h3 */
$logo-text: 2vw;                  /* h4 */
$logo-text-mobile: 2.8vw;         /* h4 */
$text: 2vw;                      /* p */
$text-mobile: 2.7vw;             /* p */






//// COLORS ////

$orange: #F79646; 
$footer-color : #707070;
$black : #222222;
$white : #ffffff;