@import '../../../Variables.scss';

.tagsContainer {
  margin-bottom:5vw;
  width:100vw;
  .createTags {
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 5vw;
    h3{
      grid-column: 2;
      grid-row: 1;
      width: 100%;
    }
    .addTags {
      .TagForm {
        padding-left: 1vw;
        width: 25vw;
        .form-control {
          margin-bottom: 1vw;
        }
        .btn-outline-dark {
          margin-bottom: 1vw;
        }
      }
    }

    .listTags {
      grid-column: 2;
      grid-row: 1;
      .tagName {
        padding-left: 1vw;
      }
      .tagButton {
        padding-left:2vw;
      }
      
    }
  }
  hr {
    margin-top:5vw;
  }
}